<div class="management">
  <h1>Inventory Management</h1>

  <% if (messages && messages.notice) { %>
    <div class="flash-success"><%= messages.notice %></div>
  <% } %>
  <% if (messages && messages.error) { %>
    <div class="flash-error"><%= messages.error %></div>
  <% } %>

  <div class="management-links">
    <div><a href="/inv/add-classification" class="btn">Add new classification</a></div>
    <div><a href="/inv/add-inventory" class="btn">Add new inventory</a></div>
  </div>

  <h2>Manage Inventory</h2>
  <p>Select a classification from the list to see the items belonging to the classification.</p>

  <%- classificationList %>

  <table id="inventoryDisplay"></table>

  <noscript>JavaScript must be enabled to use this page.</noscript>
  <script src="../../js/inventory.js"></script>
</div>
